<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{monument.title}}</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <p>Ubicación: {{monument.address.street}}, {{monument.address.locality}}.</p>
                        <p>Distrito: {{monument.address.districtURL}}.</p>
                        <p>Barrio: {{monument.address.areaURL}}.</p>
                        <p>Más información en la web del <a href="{{monument.relation}}">ayuntamiento de Madrid</a></p>
                        Actividades que puedes realizar aquí:
                        <ul>
                            {{#each activities}}
                            <li><a href="/activities/{{this._id}}">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="col-sm-8">
                       <div id="ind-map"></div>     
                    </div>
                
                    <a href="/profile/{{monument._id}}" class="btn btn-edit btn-block">Añadir a tus monumentos</a>
        
                </div>
            </div>
        </div>
       <a href="/monuments/all" class="btn btn-edit btn-block">Volver a la búsqueda de monumentos</a> <a href="/monuments/all" class="btn btn-edit btn-block">Volver al índice completo de monumentos</a> <a href="/activities" class="btn btn-edit btn-block">Volver al índice de actividades</a> 
    </div>

</div>



<script src="../javascripts/map-styles.js"></script>
<script src="../javascripts/monument-map.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=__googlekey__&callback=initMap"></script>