<h2>Búsqueda de monumentos</h2>

<form action="/monuments/results" method="get">
    
    <label>Búsqueda por distrito:</label>
    <select name="districtQuery">
        <option value="---">Selecciona</option>
        {{#each District}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label>Búsqueda por barrio:</label> 
   
        <select name="areaQuery">
            <option value="---">Selecciona</option>
            {{#each Area}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
 

    <input type="submit" value="Buscar">
</form>

<div class="row">

    {{#each foundMonuments}}
    <article class="col-md-4">
        <a href="/monuments/{{_id}}">
            <h4>{{title}}</h4>
        </a>
        <div id="map"></div>
        <p class="text-secondary">{{address.street}}, {{address.locality}}</p>
    </article>
    {{/each}}

</div>
