<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{title}}</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <p>Ubicación: {{address.street}}, {{address.locality}}.</p>
                        <p>Distrito: {{address.districtURL}}.</p>
                        <p>Barrio: {{address.areaURL}}.</p>
                        <p>Más información en la web del <a href="{{relation}}">ayuntamiento de Madrid</a></p>
                    </div>

                    <div class="col-sm-8">
                       <div id="ind-map"></div>     
                    </div>
                </div>

                {{!-- <a href="/activities/edit/{{_id}}" class="btn btn-info">Añade una imagen</a> --}}
                
            </div>
        </div>
        <a href="/monuments" class="btn btn-info">Volver al índice de monumentos</a> <a href="/activities" class="btn btn-info">Volver al índice de actividades</a>
    </div>

</div>



{{!-- <script src="/javascripts/styles.js"></script> --}}
<script src="../javascripts/monument-map.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=___googlekey___&callback=initMap"></script>
