<div class="row">
    <div class="col-md-10">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tipo: {{actType}}</h6>

                <p class="card-text">Descripción: {{longDescription}}.</p>
                <p>Edades: de {{minAge}} a {{maxAge}} años.</p>
                <p>Número de participantes: de {{minPariticipants}} a {{maxParticipants}} personas.</p>
                {{#if materials}}
                <p>Materiales necesarios</p>
                <ul> 
                    {{#each materials}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                {{/if}}

                <a href="/activities/edit/{{_id}}" class="btn btn-info">Editar</a>
                <a href="/activities/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>

    </div>

</div>
