<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tipo: {{actType}}</h6>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="act-detail-img" src="../images/Default.png" alt="Imagen fondo negro con interrogaciones">
                    </div>

                    <div class="col-sm-8">

                        <p class="card-text">Descripción: {{longDescription}}.</p>
                        <p>Edades: de {{minAge}} a {{maxAge}} años.</p>
                        <p>Número de participantes: de {{minParticipants}} a {{maxParticipants}} personas.</p>

                        {{#if materials.length}}
                        <p>Materiales necesarios</p>
                        <ul> 
                            {{#each materials}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{#if monuments.length}}
                        <p>Monumentos donde se puede realizar</p>
                        <ul> 
                            {{#each monuments}}
                            <li><a href="/monuments/{{this._id}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                        {{/if}}

                    </div>
                </div>
                
                


                <a href="/activities/edit/{{_id}}" class="btn btn-info">Editar</a>
                <a href="/activities/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        <a href="/activities" class="btn btn-info">Volver al índice de actividades</a>

    </div>

</div>
