<h3>Editar la actividad {{activity.name}}</h3>

<form action='/activities/edit/{{activity._id}}' method='POST'>

        <div class='form-group'>
            <label><strong>Nombre:</strong></label>
            <input type='text' name='name' value="{{activity.name}}">
        </div>	

        <div class='form-group'>
            <label><strong>Tipo de actividad:</strong> </label>
            <select name='actType'> 
                <option value="Busqueda">Búsqueda</option>
                <option value="Carrera">Carrera</option>
                <option value="Pistas">Pistas</option>
                <option value="Trivial">Trivial</option>
            </select>
        </div>

        <div class='form-group'>
            <label><strong>Descripción corta: </strong></label>
            <input type='text' name='shortDescription' value="{{activity.shortDescription}}">
        </div>
                
        <div class='form-group'>
            <label><strong>Descripción larga:</strong> </label> <br>
            <textarea rows = "5" cols = "40" name='longDescription'>{{activity.longDescription}}</textarea>
        </div>
        

        <div class='form-group'>
            <label><strong>Participantes:</strong> </label><br>
            <label>Mínimo: </label><input class="form-num" type='number' name='minParticipants' value="{{activity.minParticipants}}"> <label>Máximo: </label><input class="form-num" type='number' name='maxParticipants' value="{{activity.maxParticipants}}">
        </div>

         <div class='form-group'>
            <label><strong>Edades recomendadas:</strong> </label><br>
            <label>Mínima: </label><input class="form-num" type='number' name='minAge' value="{{activity.minAge}}">
            <label>Máxima: </label><input class="form-num" type='number' name='maxAge' value="{{activity.maxAge}}">
        </div>


        <div class='form-group'>
            <label><strong>Materiales necesarios, separados por comas:</strong> </label>
            <input type='text' name='materials' value="{{activity.materials}}">
        </div>


        <div class='form-group'>
            <label><strong>Monumento(s) donde se puede realizar.</strong> Puedes seleccionar varios</label><br>
                <select name="monuments" multiple>                  
                        {{#each monuments}}
                        <option value="{{_id}}">{{title}}</option>
                        {{/each}}
                </select>

                {{!-- <ul>
                    {{#each allMonuments}}
                    <li> <input type="checkbox" name="{{this._id}}">{{this.title}}</li>
                    {{/each}}
                </ul> --}}

        
        </div>

    <button type='submit' class='btn btn-info'>Editar</button>
</form>